.simplePie{ max-width: 100%;
	canvas { max-width: 100%;
		@media print {
			max-width: 100%; height: auto !important; aspect-ratio: 1;}
	}

	&[data-responsive=true]{
		canvas{width: 100% !important; height: auto !important;}
	}
}